.expenses-form {
  align-items: center;
  display: flex;
  justify-content: space-evenly;
  margin: 20px 0;
  width: 100%;
}

.expenses-form select {
  margin-top: 8px;
}

.select-input::after {
  color: rgb(0, 0, 0);
  margin-top: 8px;
}

.expenses-form button {
  background-color: #13aa52;
  border: 1px solid #13aa52;
  font-size: 14px;
}

